<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>SMART Launch App</h1>
      <h2>Authorization and Launch Context</h2>
      <div class="mb-2">
        <label for="FHIRServer" class="form-label">FHIR Server</label>
        <input type="text" class="form-control" id="FHIRServer" readonly value="<%= fhir_base_url %>">
      </div>
      <div class="mb-2">
        <label for="access_token" class="form-label">Access token</label>
        <textarea  type="text" class="form-control" id="access_token" readonly rows="4"><%= access_token %></textarea >
      </div>
      <div class="mb-2">
        <label for="scopes" class="form-label">Scopes</label>
        <input type="text" class="form-control" id="scopes" readonly value="<%= scopes %>">
      </div>
      <div class="mb-2">
        <label for="id_token" class="form-label">ID token</label>
        <textarea  type="text" class="form-control" id="id_token" readonly rows="10"><%= id_token %></textarea >
      </div>
      <div class="mb-2">
        <label for="patient" class="form-label">Patient</label>
        <input type="text" class="form-control" id="patient" readonly value="<%= patient %>">
      </div>
      
      <h2>Patient</h2>
      <% if (locals.patientObj) { %>
        <div class="mb-2 row">
          <label for="patient-id" class="col-sm-1 col-form-label">Id</label>
          <div class="col-sm-11">
            <input type="text" class="form-control-plaintext" id="patient-id" readonly value="<%= patientObj.id %>">
          </div>
        </div>
        <div class="mb-2 row">
          <label for="patient-name-family" class="col-sm-1 col-form-label">Family</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="patient-name-family" readonly value="<%= patientObj.name[0].family %>">
          </div>
          <label for="patient-name-given" class="col-sm-1 col-form-label">Given</label>
          <div class="col-sm-5">
            <input type="text" class="form-control" id="patient-name-given" readonly value="<%= patientObj.name[0].given[0] %>">
          </div>
        </div>
        <% } else { %>
          <div class="mb-2 row">
            <label for="patient-id" class="col-sm col-form-label">No Patient Context</label>
          </div>
          <div class="mb-2 row">
            <a class="btn btn-primary col-sm-4" href="https://launch.smarthealthit.org/?launch_url=http%3A%2F%2Flocalhost%3A8080%2Flaunch" role="button">SMART Launcher</a>
          </div>
        <% } %>
      </div> <!-- container -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  </body>
</html>
